<div class>
  <% @posts.each do |post| %>
    <p>id</p>
    <%= post.id %>
    <p>user_id</p>
    <%= post.user_id %>
    <p>category_id</p>
    <%= post.category_id %>
    <p>title</p>
    <%= post.title %>
    <p>body</p>
    <%= post.body %>
  <% end %>
</div>
