
<div class="breadcrumb-list"><%= breadcrumb %></div>

<div class="row base">
  <div class="col-lg-9">
    <h1 class="page-header h2"><%= @post.title %></h1>
    <p><small>投稿者: <%= @post.user.username %></small></p>
    <p class="lead"><%= @post.body %></p>
    <p class="time"><%= @post.created_at.to_s(:default) %></p>

    <h2 class="page-header h3">コメント一覧</h2>
    <% @comments.each_with_index do |comment, index| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="comment-header">
            <h4 class="comment_id"><%= index + 1 %>.</h4>
            <div class="help-block">
              <h5 class="user_id">
                ユーザーネーム:
                  <% if comment.user_id? %>
                    <%= comment.user.username %>
                  <% else %>
                    名無しのKIT
                  <% end %>
              </h5>
            </div>
          </div>
          <p class="h4"><%= comment.body %></p>
          <p class="time"><%= comment.created_at.to_s(:default) %></p>
        </div>
      </div>
    <% end %>

    <%= form_for(@comment) do |f| %>

    <legend>コメントの投稿</legend>

    <div class="form-group">
      <%= f.text_area :body, class: "form-control"  %>
    </div>

    <% if user_signed_in? %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <% end %>

    <%= f.hidden_field :post_id, value: params[:id] %>

    <div class="form-group">
      <%= f.submit "登録", class: "btn btn-primary" %>
    </div>

    <% end %>
  </div>


  <div class="col-lg-3 text-center" style="padding-top:80px">
    <% if @post.category_id == 1 %>
      <%= image_tag("http://placehold.it/300x200/9a161a/fff") %>
    <% elsif @post.category_id == 2 %>
      <%= image_tag("http://placehold.it/300x200/022241/fff") %>
    <% else %>
      <%= image_tag("http://placehold.it/300x200/59822c/fff") %>
    <% end %>
  </div>

  <div class="col-lg-3 move" style="padding-top:80px">
    <div class="panel panel-primary">
      <div class="panel-heading">
        他のカテゴリーの記事一覧
      </div>
      <div class="list-group">
        <% @new_posts.each do |post| %>
          <%= link_to post.title, post_path(post.id), class: 'list-group-item' %>
        <% end %>
      </div>
    </div>
  </div>


</div>
