
<div class="breadcrumb-list"><%= breadcrumb %></div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= @category.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="list-group">
      <% @posts.each do |post| %>
        <%= link_to post_path(post.id), class: "list-group-item main" do %>
          <h4 class="list-group-item-heading"><%= post.title %></h4>
          <p class="list-group-item-text"><%= post.body.truncate(48) %> <br></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        他のカテゴリーの記事一覧
      </div>
      <div class="list-group">
        <% @new_posts.each do |post| %>
          <%= link_to post.title, post_path(post.id), class: 'list-group-item' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
